<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.kagami.mybatisread.returnlistmap.SQLMapper">
	<select id="runSqlAndReturnListMap" statementType="STATEMENT" parameterType="String" resultType="list">
		${value}
	</select>
</mapper>